$errorColor: #f73446;
$successColor: #0ac947;
$warningColor: #ffbd21;
.TaskItem {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 16px;
  background: #fff;
  margin-top: 44px;
  box-sizing: border-box;
  @media screen and (max-width: 390px) {
    width: 330px;
    height: auto;
    margin-top: 0;
    margin-bottom: 15px;
  }
}
.TaskItem__item {
  display: flex;
  padding: 24px 32px;
  align-items: center;
  gap: 40px;
  box-sizing: border-box;
  @media screen and (max-width: 390px) {
    width: 330px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-start;
  }
}
.taskName {
  display: flex;
  width: 200px;
  height: 53px;
  flex-direction: column;
  gap: 8px;
  @media screen and (max-width: 390px) {
    width: 100%;
    height: auto;
  }
}
@mixin default {
  color: #91929e;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.taskName__default {
  @include default;
}
.taskName__title {
  color: #0a1629;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @media screen and (max-width: 390px) {
    color: #0a1629;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.taskPriority {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 72px;
  height: 53px;
  box-sizing: border-box;
  @media screen and (max-width: 390px) {
    width: 100%;
    height: auto;
  }
}
.taskPriority__default {
  @include default;
}
.taskPriority__priority {
  color: $errorColor;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.Task__groupHandeBtn {
  display: flex;
  // width: auto;
}
.Task__taskUpgrade {
  width: 120px;
  height: 32px;
  color: #7d8592;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  background: #edeef0;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  &:hover {
    background: #d7d8db;
    transition: color 0.2s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  @media screen and (max-width: 390px) {
    color: #7d8592;
    text-align: center;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.Task__groupHandeBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  gap: 40px;
  @media screen and (max-width: 390px) {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }
}
.Task__process {
  cursor: pointer;
}
.Task__handleTask {
  //edit va xoa
  display: flex;
  flex-direction: row;
  gap: 40px;
  // display: none;
  @media screen and (max-width: 390px) {
    gap: 24px;
  }
}
.Task__editTask {
  cursor: pointer;
  @media screen and (max-width: 390px) {
    order: 2;
  }
}
.Task__deleteTask {
  cursor: pointer;
  @media screen and (max-width: 390px) {
    order: 1;
  }
}
